@import url(/node_modules/reseter.css/css/reseter.min.css);

.wrapper {
  height: 100vh;
  width: 100vw;

  .container {
    height: 100%;
    background-color: rgba(248, 244, 179, 0.63);

    .map {
      height: 100%;
      width: 100%;

      &__hint {
        color: red;
      }

      &__balloon {
        color: rgba(68, 68, 68, 0.35);
      }

      &__feedback {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        color: #000000;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      margin: 15px 0px 20px 7px;

      #submit {
        margin-top: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 107px;
        height: 38px;

        background: #FF8663;
        border-radius: 3px;
        outline: none;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;

        &:hover {
          cursor: pointer;
        }
      }

      label > input, textarea {
        outline: none;
        width: 310px;
        background: #FFF;
        border: 1px solid #CFCFCF;
        box-sizing: border-box;
        border-radius: 3px;
        min-height: 38px;
        resize: none;

      &:focus {
        border-color: #1371C8;
      }

        &::placeholder {
          padding: 11px;
          font-size: 14px;
          line-height: 16px;

          color: #000000;

        }
      }

      &__location {
        margin: 10px 0;
      }
    }
  }
}

.old-reviews {
  max-height: 160px;
  overflow: scroll;
  margin-left: 5px;
  //padding-bottom: 20px;
  text-decoration: none;
  border-bottom: 1px solid #E7E7E7;;
}

.old-review {
  margin-top: 20px;

  &:first-child {
    margin-top: 0px;
  }

  &__location {
    margin-left: 8px;
    display: inline-flex;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;


    color: #8F8F8F;
  }

  &__name {
    display: inline-flex;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    color: #000000;

  }

  &__review {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    color: #8F8F8F;

  }
}

.geo-info {
  font-size: 9px;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-around;

    &:first-child {
      font-weight: bold;
    }
  }
}

.ymaps-2-1-79-b-cluster-tabs__menu, .ymaps-2-1-79-b-cluster-tabs__menu-item, .ymaps-2-1-79-b-cluster-tabs__menu-item_current_yes {
  display: none;
}
